body {
    margin: 0;
    padding: 0;
    background: url(fondoazul.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
  }

  #btnArranque:active { 
    padding: 30px; 
    background: green; 
    color: black;

  }

  #btnPEmergencia:active { 
    padding: 30px; 
    background: red; 
    color: black;   
  }